body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #e2eafc;
      scroll-behavior: smooth;
      padding: 100px;
      zoom: 20px;
    }
.create{
    color: blue;
}
.header{
    align-items: center;
    text-align: center;
    font-size: 15px;
    
}
.form{
    text-align: center;
}
.para{
    font-size: 15px;
}
.para u{
    color:rgb(111, 7, 207)
}
.signinv{
     align-items: center;
     text-align: center;
     font-size: 15px;
}
.signihead{
    color: blue;
    font-size: 30px;

}
.btnc{
    width: 150px;
    height: 40px;
      background: blue;
      border: none;
      color: white;
      font-size: 15px;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 4px;
}